HEAD * {
  margin: 0px;
  padding: 0px;
}
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

#logo {
  float: left;
}

.container {
  width: 92%;
  margin: auto;
  overflow: hidden;
}
.side-bar-inner {
  background-color: rgba(72, 73, 74, 0.7);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  background: #35425a;
  color: #ffffff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
  margin-top: 0px;
  width: 91%;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: -20px;
  margin-right: -5px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ff0000;
  font-weight: bold;
}
#showcase {
  min-height: 400px;

  text-align: center;
  color: #ffffff;
}
.background-wrap {
  position: fixed;
  z-index: -1000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 1;
}
#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

#showcase h1 {
  margin-right: 100px;
  font-size: 35px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
  margin-top: 10px;
}
#newsletter h1 {
  float: left;
}
/* #newsletter form {
  float: right;
  margin-top: 15px;
} */
#newsletter button:hover {
  font-weight: bold;
}
#boxes {
  margin-top: 20px;
}
#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box {
  width: 300px;
}
aside#side-bar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
article#main-col {
  float: left;
  width: 65%;
  margin-left: 35px;
  list-style-type: none;
}

#gallery {
  border: 1px solid red;
  margin: auto;
  width: 800px;
  padding: 5px;
  height: 400px;
}
#thumbs {
  width: 150px;
  height: 150px;
  border: 1px solid green;
  padding: 5px;
  float: left;
  margin: 5px;
}
#thumbs img {
  width: 100%;
  height: 100%;
}
.lightbox {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(72, 73, 74, 0.7);
  height: 100%;
  width: 100%;
}
.lightbox:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}
.lightbox a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
}
#outer {
  background-color: white;
  width: min-content;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 50px black;
  padding: 10px;
}
#inner {
  position: relative;
}
#inner img {
  max-height: 500px;
  max-width: 800px;
}
#cross {
  float: right;
}
#next {
  float: right;
}
#matter {
  background-color: red;
  color: white;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.lightbox #inner:hover #matter {
  opacity: 0.7;
  transition: opacity 2s;
}

footer {
  padding: 20px;
  margin-top: 30px;
  color: #000000;
  background-color: #fa7d5b;
  text-align: center;
}
.social {
  float: right;
  width: 20%;
  margin-right: 80px;
  margin-right: -48px;
  margin-top: -22px;
}
.social img {
  width: 40px;
  padding-right: 1px;
  border-radius: 40px;
}
======= * {
  margin: 0px;
  padding: 0px;
}
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

#logo {
  float: left;
}
.container {
  width: 92%;
  margin: auto;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  background: #35425a;
  color: #ffffff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
  margin-top: 0px;
  width: 91%;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: -27px;
  margin-right: -1px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ff0000;
  font-weight: bold;
}
#showcase {
  min-height: 400px;

  text-align: center;
  color: #ffffff;
}
.background-wrap {
  position: fixed;
  z-index: -1000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 1;
}
#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

#showcase h1 {
  margin-right: 100px;
  font-size: 35px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #633030;
  margin-top: 10px;
  opacity: 0.8;
}
#newsletter h1 {
  float: left;
}
#newsletter form {
  float: right;
  margin-top: 10px;
}
#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}
#newsletter button:hover {
  font-weight: bold;
}
#boxes {
  margin-top: 20px;
}
#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box {
  width: 300px;
}
aside#side-bar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
article#main-col {
  float: left;
  width: 65%;
  margin-left: 35px;
  list-style-type: none;
}
#gallery {
  border: 1px solid red;
  margin: auto;
  width: 800px;
  padding: 5px;
  height: 400px;
}
#thumbs {
  width: 150px;
  height: 150px;
  border: 1px solid green;
  padding: 5px;
  float: left;
  margin: 5px;
}
#thumbs img {
  width: 100%;
  height: 100%;
}
.lightbox {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(72, 73, 74, 0.7);
  height: 100%;
  width: 100%;
}
.lightbox:target {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s;
}
.lightbox a {
  text-decoration: none;
  font-size: 20px;
  color: grey;
}
#outer {
  background-color: white;
  width: min-content;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 50px black;
  padding: 10px;
}
#inner {
  position: relative;
}
#inner img {
  max-height: 500px;
  max-width: 800px;
}
#cross {
  float: right;
}
#next {
  float: right;
}
#matter {
  background-color: red;
  color: white;
  font-size: 22px;
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.lightbox #inner:hover #matter {
  opacity: 0.7;
  transition: opacity 2s;
}

/* /////////////////////////////////////////////footer/////////////////////////////////// */
footer {
  margin-top: 30px;
  color: #000000;
  background-color: #af4e34;
}
.social {
  float: right;
  width: 20%;
  margin-right: 80px;
  margin-right: -48px;
  margin-top: -22px;
}
.social img {
  width: 40px;
  padding-right: 1px;
  border-radius: 40px;
}
//////////////////////////////registration///////////////////
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container2 {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.camps {
  margin: auto;
  height: 549px;
  width: 732px;
  line-height: 100px;
  text-align: center;
  background-image: url(https://post.healthline.com/wp-content/uploads/2020/09/Blood_Donation-732X549-thumbnail.jpg);
  opacity: 0.8;
  text-align: center;
}
.camps:hover {
  -webkit-filter: brightness(30%);
  /* -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.camps-text {
  display: inline-block;
  vertical-align: middle;
}
.camps-text:hover {
  display: inline-block;
  vertical-align: middle;
  color: rgb(255, 255, 255);
}
